---
layout: page
title: Home
excerpt: "Sebuah website yang berisi opini dari Jaka Santana"
search_omit: true
---

<header class="entry-header">
	<h1 class="entry-title">Delapan Piksel</h1>
</header>

<p>Halo, Nama saya Jaka. Saya seorang visual <s>artist</s> ninja. Hobi saya memotret di jalanan dan menonton drama di Internet. Saya juga seorang penikmat kopi murah sejati. Bisa dibilang menulis juga termasuk hobi, jadilah saya membuat blog ini.</p>
&nbsp;
&nbsp;
<hr>
&nbsp;
&nbsp;
<ul class="post-list">
{% for post in site.posts limit:30 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
<nav class="pagination" role="navigation">
<a class="btn" href="/archives">Archives</a>
</nav>